{% extends 'template.html' %}

{% block body %}
{%  csrf_token %}
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">Your order number is</p><span class="test" id="test">{{ orderNumber }}</span>
  <hr>
  <div class="container">
    <div class="row">
    {% for product in orderItems %}
    <div class="col-sm-3">
               <div class="card">
                  <img class="card-img-top" src="{{ product.image.url }}">
                  <div class="card-body">
                      <p class="card-title"><small>Product Info:</small> {{ product.title }}</p>
                      <p class="card-text"><small>Product Description: </small>{{ product.description }}</p>
                      <p class="card-text"><small>Product Price: </small>${{product.price}}</p>
                  </div>
                </div>
            </div>
    {% endfor %}
   </div>
</div>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
  </p>

</div>

{% endblock %}